$font-size-normal: 16px;
$main-font-color: #424242;
$sidebar-font-color: #707070;
$dark-blue-color: #4165a2;
$light-blue-color: #507dca;
$link-color: #3548A7;
$link-hover-color: #0355e2;;
$link-visited-color: #922790;
$code-background-color: #f7f7f7;


