/* GLOBALS */

body {
    font-family: "Roboto";
}

.button-spacer {
    width: 10px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* NAVIGATION TOP CONTAINER */
.app-container {
    height: 100vh;
    width: 100vw;
}

.app-header {
    height: 100px;
    background-image: linear-gradient(to right, #0f2242, #2351a1);
}

/* COUNTER */
.counter-container {
    display: flex;
    margin-bottom: 20px;
}


/* TODO */
.list-item {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 5px 0;
}
