/* GLOBALS */

body {
    font-family: "Roboto";
}

.button-spacer {
    width: 10px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* APP */
.app-container {
    height: 100vh;
    width: 100vw;
}

/* HEADER */
.app-header {
    height: 100px;
    color: white;
    background-image: linear-gradient(to right, #0f2242, #2351a1);
}

/* BODY */
.app-body {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
}

/* SIDEBAR */
.app-sidebar {
    background-color: green;
    height: 100%;
    width: 200px;
}

.app-sidebar ul {
    list-style: none;
}

.app-sidebar li {
    padding: 7px 7px;
}

.app-sidebar li:hover {
    background-color: antiquewhite;
}

/* CONTENT */
#content {
    flex: 1;
}

/* COUNTER */
.counter-container {
    display: flex;
    margin-bottom: 20px;
}


/* TODO */
.list-item {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 5px 0;
}
