/* GLOBALS */

body {
    font-family: "Arial", "sans-serif";
}

.button {
    border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
}

.button-spacer {
    width: 10px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.example-container {
    padding: 50px;
}

/* APP */
.playground-app {
    height: 100vh;
    width: 100vw;
}

/* HEADER */
.app-header {
    height: 100px;
    color: white;
    background-image: linear-gradient(to right, #0f2242, #2351a1);
    display: flex;
    align-items: center;
}

.app-header .logo {
    height: 70px;
    width: 70px;
    margin-left: 10px;
}

.app-header .heading {
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    padding-left: 20px;
}

/* BODY */
.app-body {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
}

/* SIDEBAR */
.app-sidebar {
    height: 100%;
    width: 200px;
}

.app-sidebar ul {
    list-style: none;
}

.app-sidebar li {
    padding: 10px;
}

.app-sidebar li:hover {
    background-color: #F1F8E9;
    cursor: pointer;
}

/* CONTENT */

#content {
    flex: 1;
}

/* COUNTER */
.counter-container {
    display: flex;
    margin-bottom: 20px;
}


/* TODO */
.list-item {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 5px 0;
}
