/* GLOBALS */

body {
    font-family: 'Open Sans', 'sans-serif';
    color: #444;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #507dca;
    font-size: 49px;
    line-height: 50px;
    font-weight: 300;
}

h2 { 
    margin-top: 25px;
    margin-bottom: 25px;
    color: #4165a2;
    font-size: 33px;
    line-height: 50px;
    font-weight: 400;
}

.button-primary {
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    padding: 0 16px;
    min-width: 80px;
    height: 30px;
    /* background-color: rgb(0, 120, 212); */
    background-color: #5881D8;
    color: rgb(255, 255, 255);
    user-select: none;
    outline: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
    border-radius: 2px;
}

.button-primary:hover {
    background-color: #4667AD;
}

.button-primary:active {
    background-color: #354D82;
}

.button {
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
    min-width: 80px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(50, 49, 48);
    user-select: none;
    outline: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(138, 136, 134);
    border-image: initial;
    text-decoration: none;
    border-radius: 2px;
}

.button:hover {
    background-color: rgb(243, 242, 241);
    color: rgb(32, 31, 30);
}

.button:active {
    background-color: rgb(237, 235, 233);
    color: rgb(32, 31, 30);
}

.button-spacer {
    width: 10px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

img.loading {
    display: block;
    margin-top: 10px;
}

.example-container {
    padding: 25px 50px 50px 50px;
}

/* pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 15px;
    margin-top: 10px;;
} */

/* APP */
.playground-app {
    height: 100vh;
    width: 100vw;
}

/* HEADER */
.app-header {
    height: 100px;
    color: white;
    background-image: linear-gradient(to right, #0f2242, #2351a1);
    display: flex;
    align-items: center;
}

.app-header .logo {
    height: 70px;
    width: 70px;
    margin-left: 10px;
}

.app-header .heading {
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    padding-left: 20px;
}

/* BODY */
.app-body {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
}

/* SIDEBAR */
.app-sidebar {
    height: 100%;
    width: 200px;
    margin-left: 20px;
}

.app-sidebar ul {
    list-style: none;
    padding-top: 47px;
}

.app-sidebar li {
    padding: 3px 6px;
    color: #707070;
    font-size: 15px;
    line-height: 22px;
}

.app-sidebar li:hover {
    background-color: #d8f1c4;
    color: #424242;
    cursor: pointer;
}

.active {
    background-color: #d8f1c4;
}

/* CONTENT */

#content {
    flex: 1;
}

/* COUNTER */
.counter-container {
    display: flex;
    margin-bottom: 20px;
}

.counter-display {
    margin: 25px 0;
}

/* TODO */
.list-item {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 5px 0;
}
